/* 5digits.org */ .main-content > .content,
/* habrahabr.ru */ .comment_body, .content.html_format, .post > .content, .post > .content.html_format, .comment_body,
/* wikipedia.org */ #mw-content-text,
/* crazycode.net */ .article_text,
/* developer.android.com */ #jd-content,
/* blogspot.ru */ .post-body,
/* opennet.ru */ body > pre,
/* vimperator.org */ #sites-canvas-main-content,
/* Wikipedia */ .mw-body-content, 
/* dzone.com */ #articleText .content, 
/* curtisgibby.com */ #content .post, 
/* forum.userstyles.org */ #Content,
/* jeffknupp.com */ #content .entry-content,
/* stackoverflow.com */ .post-text,
/* javaworld.com */ #drr-container p,
/* backbonejs.ru */ .container p,
/* trac.roundcube.net */#content .trac-content,
/* toptal.com */ .content_body,
/* highscalability.com */ div.journal-entry-text>div.body,
/* mydebianblog.blogspot.ru */ div.post-body.entry-content,
/* infoq.com */ #content > div.article_page_left,
/* livejournal.com */ div.asset-content,
/* yiiframework.ru */ div.article,
/* expeditio.ru */ .storycontent,
/* antiwomen.ru */ .postbody,
/* m.vk.com */ .pcont,
/* github.com */ #wiki-body, #readme,
/* typtest.ru */ .anette big,
/* zakonrf.info */ .st-content > p,
/* javarush.ru */ div.content p,
/* ibm.com */ #ibm-content-main p,
/* netbeans.org */ #doc,
/* jetbrains.com*/ #content > .section,
/* marionettejs.com */ #content p,
/* lastfm.ru */ #wiki,
/* linuxfonts.narod.ru */ .ind,
/* litcult.ru */ .contentBody,
/* promisesaplus.com */ body.spec,
.page_content,
/* yiiframework.com */ .guide-content, .api-content p,
/* interworx.com */ .entry,
/* lustfield.net */ .post,
/* linode.com */ .doc,
/* livejournal.com */ article,
/* news.ycombinator.com */ .comment,
/* echo.msk.ru */ .typical,
/* vk.com/im */ .im_msg_text,
/* new.vk.com/im */ .im-mess--text,
/* ag.ru */ .textblock p,
/* djbook.ru */ .block-with-comment,
/* docs.python.org */ .section,
/* netangels.ru */ .content_area,
/* mobiltelefon.ru */ .postbody p,
/* bike-rep.ru */ .text,
/* lurkmore.to */ .mediawiki,
/* interest-planet.ru */ #content > .topic > .content,
/* corporate.timeweb.ru */ .feed-post-text-block,
/* confluence.timeweb.net */ .wiki-content,
/* mchs.gov.ru */ .news-detail,
/* mail.google.com */ .a3s,
/* distrowatch.com */ .News *,
/* opencms.org */ #body-center p,
/* hsqldb.org */ .textbox_home p,
/* code.google.com */ #wikicontent,
/* class.coursera.org */ #course-page-content,
/* docs.oracle.com */ #TutBody, #PageContent,
/* megamozg.ru */ div.content.html_format,
/* lingvolive.ru/posts */ .post-content .section-text, .comment-message-text,		
.ucoz-forum-post,
/* forums.drom.ru */ .content,
/* bash.im */ div.quote div.text,
/* docs.oracle.com */ #PageContent,
/* keepassx.org/forum */ .postbody .content,
/* php.net */ .para,
/* blog.branch.io */ .section.post-body p,
/* erlang.se/doc */ p,
/* slack.com */ .message_body,
/* rocket.timeweb.ru */ div.body,
/* mobile-review.com */ #mainblock p,
.main-content,
p { 
    font-family: serif;
}

/* extjs-tutorial.com */ .container-fluid p,
/* habrahabr.ru */ .comment_body > .message {
    font-family: serif !important;
}

/* staff.timeweb.ru */ #history_main_talks td {
    font-family: serif !important;
    font-size: larger;
}
